.container-fluid{
    /* background-color:lightgrey; */
    width: 100%;
}

.main-section{
    background-color: white;
    padding: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
    margin-bottom: 40px;

}

.media-body{
    overflow: visible;
}

.background-image{
    width: 100%;
}