.container-fluid{
    /* background-color:lightgrey; */
    width: 100%;
}

.jumbotron{
    padding: 40px;
    margin-top: 80px;
    margin-right: 20px;
    margin-bottom: 60px;
    margin-left: 20px;
    background-color: white;
}

.display-4{
    color: turquoise;
}

.btn-primary{
    background-color: turquoise;
    color: white;
}